In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [15]:
df = pd.read_csv('../data/interim/filtered_df.tsv', sep='\t')
df.head()

,reference,translation,similarity,length_diff,ref_tox,trn_tox
0,real life starts first time fuck kid,boy real life starts first,0.866697,0.319149,0.998222,0.000114
1,hey leave poor bastard alone,leave poor man alone,0.857554,0.257143,0.999382,0.000578
2,told waste fucking time,told waste time,0.904062,0.183673,0.995877,0.000479
3,swear god best thing ever life save little son...,swear god best thing ive ever done life save l...,0.932305,0.022472,0.999071,0.000900
4,dont shit,dont anything,0.806763,0.137931,0.995474,0.000047

In [16]:
train_df, temp = train_test_split(df, train_size=0.7, random_state=42)
val_df, test_df = train_test_split(temp, train_size=0.1, random_state=42)

In [17]:
train_df.shape, val_df.shape, test_df.shape

((25045, 6), (1073, 6), (9661, 6))

In [18]:
train_df.to_csv("../data/interim/train_df.tsv", sep='\t', index=False)
val_df.to_csv("../data/interim/val_df.tsv", sep='\t', index=False)
test_df.to_csv("../data/interim/test_df.tsv", sep='\t', index=False)