In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('../data/interim/filtered_df.tsv', sep='\t')
df.head()

,reference,translation,similarity,length_diff,ref_tox,trn_tox,reference_length,translation_length,common_words,common_words_count,reference_stopwords,translation_stopwords,reference_sentiment,translation_sentiment
0,real life starts first time fuck kid,boy real life starts first,0.866697,0.319149,0.998222,0.000114,9,6,"{'life', 'starts', 'real'}",3,2,1,0.016667,0.22500
1,hey leave poor bastard alone,leave poor man alone,0.857554,0.257143,0.999382,0.000578,6,5,"{'leave', 'the', 'alone!', 'poor'}",4,1,1,-0.500000,-0.50000
2,told waste fucking time,told waste time,0.904062,0.183673,0.995877,0.000479,11,10,"{'was', 'time.', 'a', 'told', 'waste', 'of', '...",9,7,7,-0.400000,-0.20000
3,swear god best thing ever life save little son...,swear god best thing ive ever done life save l...,0.932305,0.022472,0.999071,0.000900,21,19,"{'the', 'was', 'life', 'best', 'ever', 'swear'...",14,11,8,0.406250,0.40625
4,dont shit,dont anything,0.806763,0.137931,0.995474,0.000047,6,6,"{""don't"", 'to', 'have', 'i', 'do'}",5,5,5,-0.200000,0.00000

In [5]:
train_df, temp = train_test_split(df, train_size=0.7, random_state=42)
val_df, test_df = train_test_split(temp, train_size=0.1, random_state=42)

In [6]:
train_df.shape, val_df.shape, test_df.shape

((25033, 14), (1072, 14), (9657, 14))

In [7]:
train_df.to_csv("../data/interim/train_df")
val_df.to_csv("../data/interim/val_df")
test_df.to_csv("../data/interim/test_df")